.about-text {
	overflow: hidden;
	padding: 5px 0 10px;
}
.about-text .img-left {
	float: left;
	margin: 2px 13px 2px 0;
}
.about-section .pnl-head {
	margin-left: -20px;
}
.about-text p {
	padding-bottom: 18px;
	line-height: 18px;
	font-size: 0.9em;
}
.about-section .pnl-head {
	margin-bottom: 10px;
}
.mp3-player {
	margin-bottom: 18px;
}