.aside {
    width: 23%;
    max-width: 320px;
}

.content-menu ul {
    list-style-type: none;
}

.content-menu li {
    text-transform: uppercase;
    border: 1px solid #fcfcfc;
    background-color: #777777;
    color: #ffffff;
    cursor:pointer;
    font-size: 13px;
}

.content-menu li.active{
    background-color: #d81900;
}
.content-menu li a {
    color: #ffffff;
    display: block;
    padding: 12px;
}

.my-dagestan-head h3 {
    margin-left: 20px;
    margin-top: 10px;
}