.section.attention-to-important {
    border-bottom: 2px solid #2d5f78;
    padding-bottom: 20px;
    padding-left: 20px;
}

.section.attention-to-important > div,
.timer-tabs > div{
    display: inline-block;
    vertical-align: top;
}
.timer-tabs {
    width: 67%;
    min-height: 285px;
}

.list-item {
    width: 39%;
    background-color: #aaaaaa;
}
.list-item li,
.static-tabs li{
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #666666;
    border: 1px solid #aaaaaa;
}
.list-item li {
    padding: 12px 39px 12px 20px;
}
.static-tabs li {
    display: inline-block;
    padding: 9px 12px;
}

.current-item {
    width: 60%;
}

.current-item img {
    width: 100%;
}

/*--------*/
#press{
    display:none;
}

.static-tabs {
    width: 29%;
    margin-left: 30px;
}

.static-tabs ul {
    margin-bottom: 10px;
}


.static-tabs p {
    font-size: 12px;
    color: #111111;
    font-weight: 400;
    padding-right: 35px;
    padding-left: 5px;
}

.static-tabs span {
    color: #cccccc;
    font-size: 12px;
    padding-left: 5px;
    margin-top: 5px;
    display: inline-block;
    margin-bottom: 6px;
}

.static-tabs a {
    display: block;
    text-align: right;
    color: #cccccc;
}




