@import "attentions.css" screen;
@import "events.css" screen;
@import "datepicker.css" screen;
@import "news.css" screen;
@import "asideNews.css" screen;
@import "newsItem.css" screen;
@import "documents.css" screen;



.prezident-section {
    margin-bottom: 30px;
}
.prezident-section img {
    width: 25%;
    float: left;
    margin-right: 14px;
}

.prezident-section p {
    font-size: 15px;
    color: #333333;
}