.header-and-podsait {
	display: inline-block;
	clear: both;
	width: 100%;
	}

.header-and-podsait h3 {
    margin-top: 10px;
	float: left;
	}
	
.header-and-podsait a {
	text-decoration: underline;
	color: #043f5d;
	font-size: 14px;
	}

.district-picked-section img {
    float: left;
    margin: 0 20px 20px 0;
	}
	
.podsait {
	float: right;
	}
	
.paragraph {
	margin-bottom: 20px;
	clear: both;
	}
	
.paragraph img {
	padding-top: 5px;
	}