.head-download > * {
    display: inline-block;
    text-transform: uppercase;
    font-size: 17px;
    color: #333333;
}

.number-rule {
    float: right;
    margin-top: 10px;
}
.body-download p {
	font-size: 14px;
	line-height: 18px;
}
.body-download .file-ic {
	display: block;
	height: 34px;
	float: left;
	margin-left: 10px;
}