.col {
	overflow: hidden;
}
.col:last-child {
	border-bottom: 1px solid #033f5d;
	padding-bottom: 25px;
}
.col .row {
	float: left;
	margin-right: 68px;
}
.col .row:last-child {
	margin-right: 0;
}
.col input[type="text"]{
    margin-right:10px;
}
.row{
    margin-bottom:16px;
}
.row input[type="text"] {
    padding-left: 5px;
	height: 17px;
	border: 1px solid #033f5d;
}
.date-input {
	width: 107px;
}
.row label, .col span {
	vertical-align: middle; 
	font-size: 14px;
}
.col input[type="checkbox"] {
	vertical-align: middle; 
	margin-left: 10px;
} 
.col input[type="checkbox"]:first-child {
	margin-left:0;
}
.col-wide .row { 
	float: none; 
}

.wide-input { 
	width: 100%; 
	box-sizing: border-box;
	margin-right: 0;
}
.row input[type="button"], .row input[type="submit"] {
    float:right;
	text-transform: uppercase;
	color: #FFF;
	height: 37px;
	line-height: 35px;
	padding-left:15px;
	padding-right: 15px;
	background-color: #d81900;
	cursor: pointer;

}
label{
    display:inline-block;
    vertical-align:middle;
}
select,
textarea{
    padding:0 0px;
    border: 1px solid #033f5d;
}
.col select {
	width: 212px;

}
.numdoc-input { 
	width: 88px;
}
.col .row input[type="text"]:last-child {margin-right: 0;}

/*fluid grid*/
.submit-request{
    max-width:750px;
}
.submit-request label{
    width:18%;
    color:#636363;
}
.submit-request textarea {
    height: 180px;
    width: 80% !important;
}
.textarea-row label{
    vertical-align:top;
}
.row .fluid-field{
    width: 79.3%;
}
.row select.fluid-field {
    width: 80.3%;
}

.nb{
    display:block;
    margin:-8px 0 15px;
    text-transform:lowercase;
    font-size:12px;
    color:#636363;

}
.nb .star{
    color:#f00;
}

