.pop-up-overlay {
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
}
.pop-up {
	background: #FFF;
	padding: 20px;
	position: absolute;
	width: 360px;
	height: auto;
	top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}
.pop-up-close {
	display: block;
	width: 29px;
	height: 25px;
	background: url(../images/close.png) no-repeat 0 0;
	text-indent: -999px;
	overflow: hidden;
	position:absolute;
	top: 0;
	right: 0;
}
