.section.attention-to-important {
    border-bottom: 2px solid #2d5f78;
    padding-bottom: 20px;
	padding-top: 10px;
}
.section.attention-to-important h3 {
	padding-left: 20px;
    margin-top:10px;
}
.section.attention-to-important > div,
.timer-tabs > div{
    vertical-align: top;
}
.timer-tabs {
    min-height: 285px;
}

.list-item {
    width: 270px;
	margin-right: 25px;
    background-color: #aaaaaa;
}
.list-item li,
.static-tabs li{
    font-size: 14px;
    cursor: pointer;
    color: #444444;
}
.list-item li {
    padding: 10px 35px 12px 20px;
	height: 43px;
	overflow: hidden;
}
.static-tabs li.active {

}
.static-tabs li {
    display: inline-block;
    padding: 0 12px;
	float: left;
	height: 40px;
	line-height: 38px;
	color: #fff;
	background: #666666;
    margin-right: 5px;
}

.current-item {
    width: 367px;
}

.current-item img {
    width: 100%;
}

/*--------*/
#press{
    display:none;
}

.static-tabs {
    
}

.static-tabs ul {
    margin-bottom: 7px;
	overflow: hidden;
	border-bottom: 1px solid #aaa;
}


.static-tabs p {
    font-size: 13px;
    color: #111111;
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px;
}

.static-tabs span {
    color: #cccccc;
    font-size: 13px;
    padding-left: 10px;
	padding-bottom: 6px;
    margin-top: 3px;
    display: block;
    margin-bottom: 6px;
	border-bottom: 1px solid #aaa;
}

.static-tabs .see-all {
    display: block;
    text-align: right;
    color: #cccccc;
	font-size: 14px;
	padding-right: 10px;
}
.static-tabs a.see-all:hover {
	text-decoration: underline;
	color: #043f5d;
}




