.dep-block {
	margin-bottom: 25px;
	}

.gov-links {
	margin-top: 10px;
	display:block;
	}
	
.gl-active {
	display: block;
	}
	
.gov-links p {
	margin-bottom: 15px;
	}
	
.gov-links p a {
	text-transform: uppercase;
	text-decoration: underline;
	color: #043f5d;
	font-size: 14px;
	}

.dep-title {
	clear: both;
	display: inline-block;
	}
	
.dep-title h3 {
	float: left;
	margin-bottom: 0px;
	}
	
.toggle {
	background: url('../images/dep-toggle-up.png') 0 0 no-repeat white;
	width: 13px;
	height: 13px;
	cursor: pointer;
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	}

.t-active {
	background: url('../images/dep-toggle-down.png') 0 0 no-repeat white;
	}