.footer > ul {
    margin-top: 15px;
}

.footer > ul > li {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 15px 2px 10px;
	text-align: left;
	width: 120px;
}

.footer > ul > li ul {
    margin-top: 10px;
}

.footer > ul > li li {
    color: #555555;
    list-style-type: none;
    font-size: 10px;
    font-weight: 200;
}
.footer > ul > li > a {
	color: #555555;
	padding-top: 7px;
	padding-bottom: 10px;
	display: inline-block;
}
.footer > ul > li > a.full-ver-link {
	 color: #0052aa;
	 font-weight: bold;
}

