.header-top {
    padding: 4px 10px 2px 10px;
    background-color: #eaeaea;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    color: #444;
}

.header-top .top > div,
.header-top .bottom > div {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.top {
	overflow: hidden;
}
.top > div > p {
    border: 1px solid #fcfcfc;
    padding: 2px;
    padding-left: 13px;
    color: #a7a9ac;
}


.info {
    width: 23%;
    margin-right: 20px;
}

.weather {
    width: 23%;
    margin-right: 20px;
}

.members {
    width: 23%;
    margin-right: 20px;
}

.account {
    text-align: right;
	float: right;
}

.account li {
    display: inline-block;
}

.account li:first-child {
    margin-right: 25px;
}

.account a {
    text-decoration: none;
    color: #444;
	font-size: 14px;
}

/*----bottom---*/
.bottom {
    margin-top: 15px;
	display: none;
}

.nav {
    
}

.nav select {
	font-size: 12px;
    width: 255px;
    height: 23px;
	margin-right: 4px;
    border: 1px solid #cccccc;
}
.search-btn {
	display: block;
	width: 24px;
	height: 24px;
	background: url(../images/search.png) no-repeat;
	float: left;
	margin-right: 15px;
}
.search {
}

.search > * {
    display: inline-block;
}
.search > * > * {
    display: inline-block;
    vertical-align: top;
}

.search input[type="text"] {
    width: 305px;
    height: 19px;
    border: 1px solid #aeafb1;
    padding-left: 7px;
    margin-right: 5px;
}

.search input[type="button"] {
    padding: 2px 0px;
	font-size: 12px;
	width: 57px;
	text-align: center;
    border: 1px solid #aeafb1;
    border-radius: 4px;
    margin-right: 45px;
	cursor: pointer;
}

.version {
    margin-right: 10px;
}

.local {
    
}

.version p {
    text-transform: uppercase;
    margin-right:0px;
    margin-top: 5px;
	letter-spacing: 0.1em;
}


.local li {
    display: inline-block;
    margin: 0 3px;
	padding: 6px;
    list-style-type: none;
}


/*-------*/

.header-center{
    background-color: #043f5d;
	height: 53px;
}
.header-center > div {
    display: inline-block;
}

.title-page {
    margin-top: 5px;
    margin-left: 10px;
}

.title-page h2, .title-page h1 {
    color: #ffffff;
    font-family: Tahoma, sans-serif;
    font-weight: 200;
}

.title-page h2 {
    font-size: 16px;
}

.title-page h1 {
    font-size: 20px;
}

.brand {
    float: right;
}
.brand img {
    height: 125px;
    float: right;
}

/*------*/

.header-bottom {
    width: 100%;
}
.menu-container {
	float: right;
}
.menu-btn {
	width:65px;
	height: 33px;
	display: block;
	padding: 0 0 0 9px;
	margin-top: 3px;
	background: url(../images/menu-alt.png) no-repeat right 5px;
	font-size: 14px;
	line-height: 32px;
	color: #ffffff;
}
.menu-btn.open {
	background: #ffffff url(../images/menu-alt.png) no-repeat right -41px;
	color: #444444;
}
.menu {
    display: none;
	position: absolute;
	left: 20px;
	right: 0;
	background: #FFF;
}

.menu li {
    display: block;
    list-style-type: none;
    position: relative;
	border-bottom: 1px solid #CB2A19;
}

.menu li a {
    color: #444444;
    padding: 12px 20px 12px 10px;
	margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    display: block;
	background: url(../images/down.png) no-repeat right center;
}
.menu li.active a {
	background: url(../images/top.png) no-repeat right center;
}
.menu li.without-submenu a {
	background: none;
}
.menu .active{
    background-color:#ffffff !important;
}
.menu .active a {
    color: #cb2a19;
}

.submenu {
	display: none;
	padding: 0 10px;
}
.active .submenu {
	display: block;
	
}
.active .submenu li {
	border-top: 1px solid #AAAAAA;
	border-bottom: 0 none;
}
.active .submenu li:last-child {
	border-bottom: 0 none;
}

.active .submenu li a {
    color: #444444;
	background: none;
	font-weight:normal;
	padding-left: 0;
	padding-right: 0;
}


.underline-menu {
    height: 5px;
    background-color: #cb2a19;
}

.corner-menu {
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 10px solid #cb2a19;
    position: absolute;
    bottom: 0;
    right: 43%;
}











